

<style>
 
</style>

<!-- Toolbar -->
<div style="text-align:center;">
  
  <h1>welcome</h1>
  <!--component selector as html tag -->
  <!-- <app-test></app-test> -->
  
  <!-- component selector as class to html tag -->
  <!-- <div class="app-test"></div > -->

    <!--selector as attribute in html-->
    <div app-test></div>

    <!--interpolation 2-->
    <!-- <app-interpolation2></app-interpolation2> -->

    <!--property binding 3-->
    <!-- <app-propertybinding3></app-propertybinding3> -->

    <!--class binding-->
    <!-- <app-classbinding4></app-classbinding4> -->

    <!--style binding-->
    <!-- <app-stylebinding5></app-stylebinding5> -->

    <!--event binding-->
    <!-- <app-eventbinding6></app-eventbinding6> -->

    <!--template reference variable-->
    <!-- <app-templaterefvariable7></app-templaterefvariable7> -->

    <!--two way data binding-->
    <!-- <app-twowaydatabind8></app-twowaydatabind8> -->

    <!--structural directive-->
    <!-- <app-structuraldirective9></app-structuraldirective9> -->

    <!--component interaction -->
    <!-- <app-componentinteraction10 [parentData]="name" (childEvent)="message=$event"></app-componentinteraction10>
    <h2>{{message}}</h2> -->

    <!--pipes-->
    <!-- <app-pipes11></app-pipes11> -->

    <!--service-->
    <!-- <app-service12></app-service12> -->

    <!--http & observable-->
    <!-- <app-httpfetchobservable13></app-httpfetchobservable13> -->

    <!--routing & navigation-->
    <app-routingnavigation14></app-routingnavigation14>

    <router-outlet></router-outlet><!--router view goes here-->

    <!--route param-->
    
    

</div>


